{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'examples-styles.css' %}" />
    <link rel="stylesheet" href="{% static 'grids.css' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>abcjs: Basic Synth Demo</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <script src="{% static 'abcjs-plugin-min.js' %}"></script> -->

    <style>
        main {
            max-width: 770px;
            margin: 0 auto;
        }


        .status {
            padding: 2px 10px 10px 10px;
            background-color: #f0f0f0;
            width: 250px;
        }

        @media (prefers-color-scheme: dark) {
            .status {
                background-color: #000000;
            }
        }

        canvas {
            border: 1px solid black;
        }
    </style>

    <!-- <script src="../dist/abcjs-basic.js" type="text/javascript"></script> -->
    <script src="{% static 'abcjs-basic.js' %}"></script>
    <script type="module" src="{% static 'note_func.js' %}"></script>
    <!-- <script src="{% static 'soundfont-player.min.js' %}"></script> -->

    <!-- <script src="{% static 'myScript.js' %}"></script> -->
</head>

<body>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;

        }

        #container {
            width: 100vw;
            height: 100vh;
        }

        canvas {
            display: block;
        }
    </style>
    <!-- <div id="container"></div> -->
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'abcjs-audio.css' %}">
    <!-- Include slider plugin's JavaScript and CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.min.js"></script>
    <div class="container-fluid" style="height: 60vh; margin-top: 2%;">
        <div class="h-100" style="display: flex;">
            <div class="col-3" style="display: flex;">
                <div class="indicator" id="tempo-indicator">
                    <div style="display: flex; flex-direction: column; width: 100%;">
                        <div style="height: 20%;">
                            <label for="slider">Tempo</label>
                            <input type="range" data-slider-min="40" data-slider-max="200" data-slider-step="1"
                                data-slider-value="120" id="slider">
                        </div>
                        <div style="height: 20%;">
                            <button class="btn btn-primary btn-block" id="playPauseButton">Play / Pause</button>
                        </div>
                        <div style="height: 20%;">
                            <button class="btn btn-primary btn-block" id="playSound">"empty script"</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-8 h-100" style="display: flex;">
                <div class="col-12 h-100" id="matrix">
                    <div class="h-100" id="moving_box"></div>
                    <div id="invisible-text" style="display: none;"></div>

                </div>
                <div class="red-line">
                </div>
            </div>
            <div class="row col-1" id="left_box"></div>
            <!-- <div class="row col-1"></div> -->
        </div>
    </div>

    <script type="module">
        import { load } from "{% static 'note_func.js' defer%}";
        import { movingColors } from "{% static 'update_grid_coloring.js' defer%}";
        import { coloringInit } from "{% static 'grid_coloring.js' defer%}";
        import { generateColorArray, createTimeGrid } from "{% static 'grid_box_functions.js' defer%}";
        import { findCommonBeat, noteWeightening, beatPartitions, parseFraction, maxValuesByIndex, getNoteDurations, instrumentCounter, barTotalCountFinder, findLcm, parseAbc } from "{% static 'note_graphics_utilities.js' defer%}";
        var soundFontUrl = 'sample_url/'
        var abc = "X:1\n" +
            "M: 4/4\n" +
            "L: 1/4\n" +
            "K: Cmaj\n" +
            "T:Accidentals\n" +
            "|: e1/2d1/2e1/2d1/2 e2d2 e1e1 | d2e2 d1d1 | d2e2 d1d1";

        // " E2E2 E2E2 | D2D2 D2D2 | C2C2 C2C2 | A2A2 A2A2 |]\n";
        // " |: c2c2 c2c2 | d2d2 d2d2 | c2c2 c2c2 | d2d2 d2d2 |\n" +
        // " c2c2 c2c2 | c2c2 c2c2 | d2d2 d2d2 | c2c2 c2c2 |]";

        // var xhr = new XMLHttpRequest();
        // var abc_url = 'abc_to_grid/';
        // xhr.open("GET", abc_url, true);
        const { timeSig, notes, barCounter } = parseAbc(abc);

        // Extract the numbers using a regular expression and convert them to integers
        const numbers = notes.match(/\d+/g).map(Number);

        // Calculate the LCM using a loop and the findLcm() function
        let lcm = 1;
        for (let i = 0; i < numbers.length; i++) {
            if (numbers[i] < 1)
                lcm = findLcm(lcm, 1 / numbers[i]);
            else
                lcm = findLcm(lcm, numbers[i]);
        }
        // var divisionNumber = innerPartitionGcd * partitionLcm;

        const instrumentCounts = instrumentCounter(notes)
        console.log("here");
        const noteDurations = getNoteDurations(notes);
        console.log("here");
        var barTotalCounts = barTotalCountFinder(notes);
        console.log("here");
        var noteMaxBeat = maxValuesByIndex(noteDurations);
        console.log("here");
        const partitions = beatPartitions(noteMaxBeat);
        const commonBeat = findCommonBeat(partitions);
        console.log("here ", noteDurations);
        const noteWeights = noteWeightening(noteDurations, commonBeat);
        console.log("noteWeights: ", noteWeights);
        const noteWeightsMax = maxValuesByIndex(noteWeights);
        console.log("noteWeightsMax: ", noteWeightsMax);

        // lcm = findGcd(parseInt(timeSig.split("/")[0]) * 2, lcm);
        // findGcd
        console.log("Time signature:", timeSig);
        console.log("Bar Counts:", barCounter);
        console.log("Notes:", notes);
        console.log("barTotalCounts:", barTotalCounts);
        // lcm = findLcm(parseInt(timeSig.split("/")[0]) * 2, lcm);
        console.log("LCM:", lcm);
        console.log("Number of Instruments:", instrumentCounts);
        console.log("Note Durations:", noteDurations);

        const playButton = document.getElementById("playSound"); // Replace "playButton" with the actual ID of your button
        playButton.addEventListener("click", playSound);

        function playSound() {
            console.log("Playing sound");
            var instrument = "percussion";
            var selectedSf = "D3";
            const audioElement = new Audio("/sample_url/" + instrument + "/" + selectedSf + ".wav");
            audioElement.play();
            console.log("Sound played");
        }

        let extraBeatsPerWeight = 5;
        let barlinesMaxView = 10;
        let sharedVars = {
            isRunning: false,
            secondToMove: 1,
            stopInterval: 1,
        };


        const maxBeatPositionCounter = 140;
        let [colorMatrix, soundMatrix] = createTimeGrid(extraBeatsPerWeight, barCounter, instrumentCounts, lcm, noteDurations, barTotalCounts, noteWeights, noteWeightsMax, barlinesMaxView, maxBeatPositionCounter);
        console.log("newwww: ", soundMatrix);
        const windowSize = 140;
        let windowPosition = 0;
        console.log("colorMatrix ", colorMatrix);
        colorMatrix = endColorSpace(colorMatrix);
        coloringInit(colorMatrix, maxBeatPositionCounter);
        // applyColorMatrixWithWindow(colorMatrix, windowSize, windowPosition);
        // applyColorMatrix(colorMatrix);
        const extraBeats = extraBeatsPerWeight;
        const beatBarPerSecond = 60 / 120 / (2 * extraBeats);
        sharedVars.secondToMove = beatBarPerSecond;
        sharedVars.stopInterval = 0;
        console.log('beatBarPerSecond = ' + beatBarPerSecond);
        const colorCalculationWorker = new Worker("{% static 'colorCalculationWorker.js' defer %}");
        const delayWorker = new Worker("{% static 'delayWorker.js' defer %}");
        // importWorkerScripts("{% static 'colorCalculationWorker.js' defer %}", "{% static 'delayWorker.js' defer %}");

        movingColors(colorCalculationWorker, delayWorker, sharedVars, soundMatrix, colorMatrix, windowSize, maxBeatPositionCounter);

        let noteNumber = 0;
        let beatCount = 0;
        let barCount = -1;

        tempoSlider(sharedVars, colorCalculationWorker, delayWorker, extraBeatsPerWeight, noteWeightsMax, instrumentCounts, barCounter, barlinesMaxView);
        console.log(abc);

        load(abc, soundFontUrl);

        const playPauseButton = document.getElementById("playPauseButton"); // Replace "playButton" with the actual ID of your button
        playPauseButton.addEventListener("click", function () {
            play_pause(sharedVars, delayWorker)
        });
        function play_pause(sharedVars, delayWorker) {
            if (sharedVars.isRunning == true)
                sharedVars.isRunning = false
            else
                sharedVars.isRunning = true
            let update = true;
            delayWorker.postMessage({ sharedVars, update });
        }
    </script>

    <script>

        function endColorSpace(colorMatrix) {
            for (let inst = 0; inst < colorMatrix.length; inst++) {
                for (let i = 0; i < 20; i++)
                    colorMatrix[inst].push("rgb(0, 0, 0)");
            }
            return colorMatrix

        }



    </script>
    <script>


        function getColor(index, total) {
            const r = Math.floor((255 / total) * (total - index));
            const g = Math.floor((255 / total) * index);
            const b = 0;
            return `rgb(${r}, ${g}, ${b})`;
        }

        function durationMax(durations) {
            var durationGuide = [];
            for (let col = 0; col < durations[0].length; col++) {
                let columnValues = [];
                for (let row = 0; row < durations.length; row++) {
                    columnValues.push(durations[row][col]);
                }
                durationGuide.push(Math.max(...columnValues));
            }
            return durationGuide
        }

    </script>


    <script>
        function tempoSlider(sharedVars, colorCalculationWorker, delayWorker, extraBeats, noteWeightsMax, instrumentCounts, barCounter, barlinesMaxView) {

            const slider = document.getElementById("slider");
            const sliderValue = document.getElementById('slider-value');

            let noteNumber = 0;
            let beatCount = 0;
            let barCount = -1;

            let intervalId = 0;

            $('#slider').slider({
                tooltip: 'always',
                tooltip_position: 'bottom'
            }).on('change', function () {
                updateIndicator($(this).slider('getValue'));
            });
            // sliderValue.style.setProperty('--value', slider.value);

            // // Update the slider value display on change
            // slider.addEventListener('input', () => {
            //     // Update the position and text of the slider value display
            //     sliderValue.style.setProperty('--value', slider.value);
            //     sliderValue.style.left = `calc(100% / 100 * var(--value) - 10px)`;
            //     sliderValue.textContent = slider.value;
            // });


            function updateIndicator(sliderValue) {
                console.log("tempo is: ", sliderValue);
                let updateBeatBarPerSecond = 60 / sliderValue / (2 * extraBeats);
                console.log("before repeat ", noteNumber, beatCount, barCount, updateBeatBarPerSecond);
                // sharedVars.isRunning = false;
                sharedVars.secondToMove = updateBeatBarPerSecond;
                sharedVars.isRunning = true;
                let update = true;
                // let updateSharedVars = sharedVars;
                delayWorker.postMessage({ sharedVars, update });

                // if (sharedVars.stopInterval == 0) {
                //     sharedVars.stopInterval += 1;
                //     movingColors(sharedVars, 0, 0, -1, noteWeightsMax, extraBeats, instrumentCounts, barCounter, barlinesMaxView)
                // }
                // Repeat(sharedVars, noteNumber, beatCount, barCount, noteWeightsMax, extraBeats, instrumentCounts, barCounter, barlinesMaxView, updateBeatBarPerSecond, 1, (noteNumber, beatCount, barCount) => {
                //     noteNumber = noteNumber;
                //     beatCount = beatCount;
                //     barCount = barCount;
                //     // console.log("1", noteNumber, beatCount, barCount);
                // });
                // sharedVars.isRunning = true;

                // Repeat(true, noteNumber, beatCount, barCount, noteWeightsMax, extraBeats, instrumentCounts, barCounter, barlinesMaxView, updateBeatBarPerSecond, 1, (noteNumber, beatCount, barCount) => {
                //     noteNumber = noteNumber;
                //     beatCount = beatCount;
                //     barCount = barCount;
                //     // console.log("1", noteNumber, beatCount, barCount);
                // });
            }

            slider.addEventListener("input", () => {
                updateIndicator();
                // You can add more code here to update the tempo or graph
            });
        }
    </script>
    <main>
        <div class="container">
            <div id="paper"></div>
            <div class="row">
                <div>
                    <div id="audio" class="abcjs-large"></div><button class="activate-audio">Activate Audio</button>
                    <button class="start">Start</button>

                    <button class="activate-audio">Activate Audio Context And Play</button>
                    <button class="stop-audio" style="display:none;">Stop Audio</button>
                    <div class='audio-error' style="display:none;">Audio is not supported in this browser.</div>
                </div>
                <div class="status"></div>
            </div>
        </div>
    </main>

    <style>
        .abcjs-highlight {
            fill: #0a9ecc;
        }

        .abcjs-cursor {
            stroke: red;
        }
    </style>
</body>

</html>